<div class="content-container">
  <form [formGroup]="taskForm" (ngSubmit)="onSubmit()">

    <div class="space-margin">
      <div class="form-group">
        <label for="name">Nombre de la Tarea</label>
        <input type="text" id="name" placeholder="Ingresa el nombre de una tarea" formControlName="name" required />
        <div *ngIf="taskForm.get('name')?.invalid && taskForm.get('name')?.touched || taskForm.get('name')?.invalid && taskFormSubmitted" class="error-text">
          El nombre de la tarea es requerido.
        </div>
      </div>

      <div class="form-group">
        <label for="dueDate">Fecha límite</label>
        <input type="date" id="dueDate" formControlName="dueDate" />
        <div *ngIf="taskForm.get('dueDate')?.invalid && taskForm.get('dueDate')?.touched || taskForm.get('dueDate')?.invalid && taskFormSubmitted" class="error-text">
          La fecha límite es requerida.
        </div>
      </div>

      <div class="form-group">
        <label>Personas Asignadas</label>
        <div formArrayName="assignedPeople">
          <div *ngFor="let person of assignedPeople.controls; let i = index" [formGroupName]="i" class="person">
            <label for="nameP" class="sub-label">Nombre</label>
            <input formControlName="nameP" id="nameP" type="text" placeholder="Ingrese el nombre de la persona" required />
            <div *ngIf="person.get('nameP')?.invalid && person.get('nameP')?.touched || person.get('nameP')?.invalid && taskFormSubmitted" class="error-text">
              El nombre de la persona es requerido.
            </div>

            <div *ngIf="person.get('name')?.hasError('duplicate') && (person.get('name')?.touched || taskFormSubmitted)" class="error-text">
              El nombre de la persona no puede estar duplicado.
            </div>


            <label for="age" class="sub-label">Edad</label>
            <input formControlName="age" id="age" type="number" placeholder="Ingrese la edad de la persona" required />
            <div *ngIf="person.get('age')?.hasError('required') && (person.get('age')?.touched || taskFormSubmitted)" class="error-text">
              La edad es requerida.
            </div>
            <div *ngIf="person.get('age')?.hasError('ageTooYoung') && (person.get('age')?.touched || taskFormSubmitted)" class="error-text">
              La edad debe ser mayor a 18.
            </div>

            <div formArrayName="skills">
              <div *ngFor="let skill of getSkills(i).controls; let j = index">
                <label for="skill" class="sub-label">Habilidad</label>
                <div class="sub-grid-container">
                  <input [formControlName]="j" id="skill" type="text" placeholder="Ingrese una habilidad" required />

                  <a type="button" (click)="removeSkill(i, j)">
                    <img src="assets/icons/trash.png" alt="Eliminar habilidad" width="20" height="20">
                  </a>
                </div>
                <div *ngIf="skill.invalid && skill.touched || skill.invalid && taskFormSubmitted" class="error-text">
                  La habilidad es requerida.
                </div>
              </div>
            </div>

            <div class="grid-container">
              <button type="button" class="space" (click)="removePerson(i)">Eliminar Persona</button>
              <button type="button" class="space" (click)="addSkill(i)">Agregar Habilidad</button>
            </div>

          </div>
          <div class="error">
            Debes agregar al menos una persona y una habilidad por persona.
          </div>
        </div>

        <button type="button" class="space" style="width: 100%;" (click)="addPerson()">Agregar Persona</button>
      </div>

      <div class="btn">
        <button type="submit" class="principal-button" [disabled]="taskForm.invalid">Crear Tarea</button>
      </div>
    </div>
  </form>
</div>
