@import 'src/app/app.component.scss';

.content-container {
  .space-margin {
    margin: 5%;
  }

  .space {
    margin-top: 2%;
    display: block;
    margin-bottom: 2%;
  }

  .sub-label {
    font-weight: 400 !important;
    font-size: 16px !important;
  }

  .btn {
    display: grid;
    align-items: center;
  }

  .principal-button{
    background-color: $button-principal-color;
  }
}

.person {
  border: 3px solid $button-principal-color;
  padding: 3%;
  margin-top: 1%;
  border-radius: 6px;
}

a {
  cursor: pointer;
  align-content: center;
}

.sub-grid-container {
  display: grid;
  grid-template-columns: 4fr 1fr;
  gap: 20px;
  width: 100%;
}

.error-text {
  color: red;
  font-size: 0.875rem;
  margin-top: 5px;
}

