<div class="content-container">
  <div *ngIf="existTask">
    <div *ngFor="let task of tasks$ | async; let i = index">
      <h3>{{ i + 1 }}. {{ task.name }}</h3>
      <h4>Due Date: {{ task.dueDate | date }}</h4>
      <h4>Assigned People:</h4>

      <table class="styled-table">
        <thead>
          <tr>
            <th>Nombre</th>
            <th>Edad</th>
            <th>Habilidades</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let person of task.assignedPeople">
            <td>{{ person.name }}</td>
            <td>{{ person.age }}</td>
            <td>{{ getSkills(person) }}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  <div *ngIf="!existTask">
    <p>No hay ninguna tarea creada</p>
  </div>
</div>
